<%= link_to "New Transaction", new_transaction_path %>
<ul class="all-transactions">
  <% @transactions.each do |transaction| %>
    <li class="transaction">
    <%= link_to transaction, transaction_path(transaction) %>
    </li>
  <% end %>
</ul>
