<h1>Transaction</h1>

<ul>
  <li><h3><%= @transaction.name %></h3></li> 
  <li><h3><%= @transaction.store %></h3></li> 
  <li><h3><%= @transaction.category %></h3></li> 
  <li><h3><%= @transaction.price %></h3></li> 
</ul>
